@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  font-weight: bold;
  src:
    local("nunito"),
    url(./assets/fonts/Nunito-Bold.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-weight: regular;
  src:
    local("lato"),
    url(./assets/fonts/Lato-Regular.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  font-weight: regular;
  src:
    local("lora"),
    url(./assets/fonts/Lora-Bold.woff2) format("woff2");
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
